language: node_js
node_js: stable
cache: npm

#before_install:
#  - npm i -g npm

# install:
#   - npm install

script:
  - npm run build:travis

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  local_dir: dist
  email: moohng@126.com
  name: Travis By Kevin
  on:
    branch: master
