html,
body {
    width: 100%;
    height: 100%;

    text-align: center;
}

body {
    // 字体
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

// 统一样式
html, body, ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
