body {
    text-align: center;
}

// 统一样式
html, body, ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}


// vux 组件样式
.vux-header {
  background: #000;
}

.weui-cells .weui-cell__hd {
  margin-right: 5px;
  width: 28px;
  height: 28px;

  img {
    width: 100%;
  }
}
