
@mixin abs($top, $right, $bottom, $left) {
    position: absolute;
    top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin flex($z: center, $v: center, $dir: row) {
    display: flex;
    justify-content: $z;
    align-items: $v;
    flex-direction: $dir;
}
