
@mixin abs($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: fixed;
    top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin flex($z: center, $v: center, $dir: row) {
    display: flex;
    justify-content: $z;
    align-items: $v;
    flex-direction: $dir;
}

// 界面背景颜色
$bgColor: #efefef;
// 线条颜色
$lineColor: #dfdfdf;
// 渲染颜色 选中颜色
$tintColor: #1aad19;
// 灰色 未选中颜色
$lightColor: #999;
