
@mixin abs($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin absSize($x: 0, $y: 0, $width: 100%, $height: 100%) {
  position: absolute;
  top: $y; left: $x; width: $width; height: $height;
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: fixed;
  top: $top; right: $right; bottom: $bottom; left: $left;
}

@mixin flex($h: center, $v: center, $dir: row) {
  display: flex;
  justify-content: $h;
  align-items: $v;
  flex-direction: $dir;
}

@mixin textHidden($line: 1) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// 界面背景颜色
$bgColor: #f2f2f2;
// 线条颜色
$lineColor: #dfdfdf;
// 渲染颜色 选中颜色
$tintColor: #09BB07;
// 灰色 未选中颜色
$lightColor: #999;
